
.container .each-details-container{
    width: 100%;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.container .each-details-container  h3{
    margin-bottom: 10px;
}
.container .project-links ul{
    list-style-type: none;
}
.container .project-links ul li a{
    text-decoration: none;
}
.container .key-features ul{
    margin-left: 20px;
}
.container .key-features li{
    margin-bottom: 40px;
}


.key-features-screenshots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px
}
.key-feature-screenshot-title > .key-feature-screenshot {
    box-shadow: 0px 0px 3px 1px grey;
}
.key-features-screenshots-container .swiper-slide > .key-feature-screenshot-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    width: 90%;
    transition: 1s linear;
    margin: auto;
    padding: 5px;
}

.key-features-screenshots-container .swiper-slide > 
.key-feature-screenshot-title .key-feature-screenshot img{
    width: 100%;
}
