/* ----- bio start ----- */

.bio-container{
    display: flex;
    justify-content: center;
    transition: 0.4s;
}
 
.img-container{
    position: relative;
    width: 450px;
    height: 440px;
    border-radius: 50%;
}
.img{
    position: absolute;
    left: -50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: solid 6px rgb(76, 132, 237);
    border: solid 3px rgb(249, 249, 249);
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    transition: 0.9s ease-in-out ;
}

.image:hover{
    scale: 1.1;

}


.hello{
    font-size: 105px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.about-me{
    padding: 25px 15px;
    font-family: sans-serif;
}
.about-me h3{
    margin-bottom: 5px;
}
.about-me p{
    line-height: 32px;
    color: rgb(46, 45, 45);
    font-size: small;
}

.pyth{
    color: rgb(29, 117, 171);
    font-weight: bold;
}
.dj{
    font-weight: bold;
    color: rgb(163, 163, 28);
}
.ngo{
    color: green;
    font-weight: bold;
}
.react{
    color: rgb(35, 154, 238);
    font-weight: bold;
}
.js{
    color: rgb(163, 163, 28);
    font-weight: bold;
}





.services{
    display: flex;
    justify-content: center;
    margin: 30px -20px;

}

.my-cv{
    width: 130px;
    height: 130px;
    background-color: rgb(70, 148, 211);
    border-radius: 50%;
}
.projects{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(209, 211, 84);
    
}
.contact-me{
    width: 130px;
    height: 130px;
    background-color: rgb(89, 173, 89);
    border-radius: 50%;

}

.my-cv, .projects, .contact-me{
    margin-right: 15px;
    border: solid 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: 0.5s;
}
.service-link{
    color: black;
    text-decoration: none;
}
.my-cv:hover{
    background-color: antiquewhite;
}
.projects:hover{

    background-color: antiquewhite;
}
.contact-me:hover{

    background-color: antiquewhite;
}

