.fa-close-Btn,
.fa-bars {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    margin-bottom: 4em;
}

.name-link {
    text-decoration: none;
    color: black;
}

.my-name {
    display: flex;
    font-size: larger;
    position: relative;
    margin-left: 80px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.rounded {
    width: 27px;
    height: 27px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    left: -40px;
}
.role {
    font-size: small;
    font-weight: lighter;
    margin-left: 6px;
}
.letter-a {
    font-size: larger;
    font-weight: 500;
    transition: 0.4s;
}

ul {
    list-style: none;
    text-decoration: none;
}
li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: rgb(46, 45, 45);
    transition: 0.4s;
}
.links:hover {
    cursor: pointer;
    color: rgb(9, 163, 9);
}

.active {
    color: green;
}

/* ----- navbar end ---- */

/* ----- media query starts ----- */

@media (min-width: 1025px) and (max-width: 1200px) {
    .links {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    ul li {
        margin-right: 14px;
    }
    .links {
        font-size: 15px;
    }
    
}

@media (max-width: 768px) {
    .navlinks-container {
        transition: 0.4s ease;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 80px;
    }
    

    .navlinks-container {
        background-color: rgb(12, 99, 175);
        position: absolute;
        top: 0;
        right: 100%;
        width: 100vw;
        height: 100vh;
        padding-top: 100px;
        z-index: 1;
    }
    .menu-clicked {
        left: 0%;
    }
    .links {
        display: block;
        text-align: center;
        color: white;
    }
    .pipe-symbols {
        display: none;
    }
    .links:hover {
        color: white;
    }
    .fa-close-Btn {
        display: inline-block;
        position: absolute;
        right: 9%;
        top: 4%;
        color: white;
    }
    .fa-bars {
        display: inline-block;
        position: absolute;
        top: 25px;
        right: 30px;
    }
    .my-name {
        font-size: 18px;
        margin-left: 0;
    }

    .my-name span {
        display: inline-block;
    }
}
