.container{
    padding: 40px 130px 20px 130px;
    display: flex;
    justify-content: space-between;
}

.left-section{
    padding: 40px 20px;
}



.proj-title{
    font-family: 'Sarala', sans-serif;   
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 15px 0;
}
.description{
    font-family: 'Helvetica Neue';   
    font-weight: 100;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.6px;

}

.right-section{
    padding: 40px 20px;
    margin-left: 3em;
}

.proj-img-container{
    position: relative;
    width: 28em;
    height: 18em;
}
.proj-image{
    position: absolute;
    width: 100%;
    height: 100%;
}




/*  ---- media query starts -----  */


@media (min-width:1025px) and (max-width:1200px){
    .right-section {
        margin-left: 1em;
    }

    .proj-img-container {
        width: 20em;
        height: 14em;
    }

    .container {
        padding: 40px 60px 20px 60px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .right-section {
        margin-left: 1em;
        padding-top: 80px;
    }

    .container {
        padding: 40px 10px 0px 10px;
    }

    .proj-img-container {
        width: 16em;
        height: 12em;
    }


}

@media (max-width:768px){
    .right-section {
        display: none;
    }

    .container {
        padding: 40px 0px 0px 0px;
    }

    .proj-img-container {
        width: 16em;
        height: 12em;
    }
    .description{
        line-height: 22px;
    }
    .left-section{
        padding: 10px 10px;
    }

}