.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;

}

.my-name{
    font-size: larger;
    position: relative;
    margin-left: 80px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.rounded{
    width: 27px;
    height: 27px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    left: -40px;

}
.role{
    font-size: small;
    font-weight: lighter;
    margin-left: 6px;
}
.letter-a{
    font-size: larger;
    font-weight: 500;
}

ul{
    list-style: none;
}
li{
    display: inline;
    margin-right: 20px;
    
}

ul li:not(:hover){
    transition: 0.4s;
}
ul li:hover{
    cursor: pointer;
    color: rgb(9, 163, 9);

}


/* ----- navbar end ---- */

